@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  
}

.left-items {
    width: 30%;
    padding-right: 50px;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;   
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
    padding: 0;
}

li {
    margin-left: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.hero {
    margin-top: 100px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0;
}

.hero-text {
    color: #E5E7EB; 
    font-size: 18px;
    margin-bottom: 16px;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 32px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
